<div id="jsc-locations-list">
  <div class="head">
    <div class="logo"></div>
    <div class="caption">Pickup Points</div>
  </div>
  <div class="list">
    <ul ng-hide="isLoading() || !getLocations().length">
      <li ng-repeat="location in getLocations() track by location.id" ng-class="{'active': getSelectedLocation() && location.id==getSelectedLocation().id, 'location-difftime': location.minsOffset, 'location-exacttime': !location.minsOffset}">
        <a href="" ng-click="clickLocation(location)">
          <div class="marker"></div>
          <div class="name">{{ location.name }}</div>
          <div class="availability" >Available at <strong>{{ location.fmtAvail }}</strong></div>
        </a>
      </li>
    </ul>
    <div class="empty" ng-show="!isLoading() && !getLocations().length">Sorry, no available locations for the specified date/time.</div>
    <jsc-spinner ng-show="isLoading()"></jsc-spinner>
  </div>
</div>