#jsc-info-pane {
  background: $c-white;
  padding:10px 17px;
  button {
    display:inline-block;
    width:140px;
    font-size:14px;
    line-height:22px;
    font-weight:700;
    overflow:hidden;
    padding:11px 0;
  }
}