body {
  margin: 0;
  padding: 0;
  font-family: $f-main;
  color: $c-black;
}

body > div, #jsChallenge > div {
  position: fixed;
  display:block;
}

#jsChallenge {
  top:0; left:0;
  right: 0; bottom:0;
}

#browseHappy {
  z-index: $z-browseHappy;
  bottom:0; left:0; right:0;
  font-size:14px;
  padding:15px;
  background: $c-red-bg;
  color: $c-white;
  text-align: center;
  a {
    color: $c-white;
    text-decoration: underline;
  }
}

#area-app-loading {
  z-index: $z-app-loading;
  background: $c-white;
  top:0; left:0; right:0; bottom:0;
  > div {
    position: absolute;
    top:50%; left:50%;
    width:130px;
    height:210px;
    margin-top:-105px;
    margin-left:-65px;
    background:url($img-logo) no-repeat center;
    background-size:130px 210px;
    @include animation(spinner ease-in-out infinite 0.6s);
  }
}

#area-locations-map {
  top:0; left:240px; right:0; bottom:0;
}

#area-locations-list {
  top:0; left:0; width:240px; bottom:0;
}

#area-info-pane {
  z-index: $z-info-pane;
  top:0; right:0;
}