// Colors
$c-white: #FFFFFF;
$c-lightgrey: #F0F0E1;
$c-grey: #CECEBF;
$c-red-bg: #FF4D4D;
$c-green: #238C00;
$c-black: #242414;
$c-blue: #0085B2;

// Fonts
$f-main: "Trebuchet MS", Helvetica, sans-serif;

// Z-Layer Order
$z-info-pane: 50;
$z-browseHappy: 65535;


// Common Images
$img-logo: "../images/logo.png";